@{
    ViewBag.Title = "noEncontrado";
}



<div class="row">
    <h4 style="color:white">Seleccione Forma de Pago</h4>
    <div style="color:white">
        <a class="btn btn-success text-shadow" href="">Banco Falso</a> |
        <a href="" class="btn btn-info">Khipu</a>
    </div>
</div>