
@{
    ViewBag.Title = "LoginBancoFalso";
}

<div align="center">
    <h2 style="color:white">Banco Falso</h2>
    <h4 style="color:white">Iniciar Sesion</h4> 
    <form action="/BancoFalso/LoginBco">
        <input type="text" placeholder="user" name="user" class="form-control" /><p></p>
        <input type="password" name="pass" class="form-control" placeholder="Password" /><p></p>
        <input type="submit" value="Enviar" class="btn btn-info" />
    </form>
</div>



@section scripts{
@*<script>
    function Leer()
    {
        $ajax({
            url: 'http://localhost:54140/BancoFalso/LoginBco',
            method: 'POST',
            success: function (res) {
                console.log(res);
            },
            error: function (a, b, c) {
                console.log(a);
                console.log(b);
                console.log(c);
            }
        }),
    }
</script>*@    

}

