@{
    ViewBag.Title = "noEncontrado";
}

<h2>@ViewBag.Error</h2>

<div class="row col-md-8">
    <div class="col-md-2">
        <a href="/Clientes/Create" class="btn btn-info">Registrar</a>
    </div>

    <div class="col-md-6">
        <a href="/Clientes/Validar" class="btn btn-info">Reintentar</a>
    </div>
</div>