@{
    ViewBag.Title = "Validar";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <div>
        <div>
            <p>Usuario:</p>
            <p><input class="form-control" id="user" name="user" type="text" placeholder="Correo"></p>
        </div>

        <div>
            <p>Clave:</p>
            <p><input class="form-control" id="password" name="password" type="password" placeholder="Contraseña"></p>
        </div>

        <div>
            <p><input type="submit" value="Ingresar" onclick="Validar()" class="btn btn-info text-shadow"/></p>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/Login.js"></script>

