
@{
    ViewBag.Title = "Login";
}

<h2 style="color:white">Iniciar Sesion</h2>
<form action="~/Login/Login" method="post">
    <input type="text" placeholder="Rut sin puntos ni guion" name="user" class="form-control" /><p></p>
    <input type="password" name="pass" class="form-control" placeholder="Password" /><p></p>
    <button type="submit" value="Logueo" class="btn btn-info">Iniciar Sesion</button>
</form>
