@{
    ViewBag.Title = "noEncontrado";
}



<div class="row">
    <h4 style="color:white">No estás registrado?</h4>
    <div style="color:white">
        Registrate o  |
        <a href="/Login/Index" class="btn btn-info">Reintentar</a>
    </div>
</div>