@{
    ViewBag.Title = "noEncontrado";
}



<div class="row">
    <h4>No estás registrado?</h4>
    <div>
        Registrate o  |
        <a href="/Login/Index" class="btn btn-info">Reintentar</a>
    </div>
</div>